version: 2.1
jobs:
  install:
    working_directory: /tmp/links-johnnoel-uk
    docker:
      - image: cimg/php:8.1
    steps:
      - checkout
      - run: sudo composer self-update
      - restore_cache:
          keys:
            - composer-v1-{{ checksum "composer.lock" }}
            - composer-v1-
      - run: composer install --no-interaction --no-progress
      - save_cache:
          key: composer-v1-{{ checksum "composer.lock" }}
          paths:
            - vendor
      - persist_to_workspace:
          root: /tmp/
          paths:
            - links-johnnoel-uk

  coding-standards:
    working_directory: /tmp/links-johnnoel-uk
    docker:
      - image: cimg/php:8.1
    steps:
      - attach_workspace:
          at: /tmp
      - run: vendor/bin/phpcs -n src

  static-analysis:
    working_directory: /tmp/links-johnnoel-uk
    docker:
      - image: cimg/php:8.1
    steps:
      - attach_workspace:
          at: /tmp
      - run: php -d memory_limit=512M vendor/bin/phpstan analyse

  test:
    working_directory: /tmp/links-johnnoel-uk
    docker:
      - image: cimg/php:8.1
        environment:
          APP_ENV: test
          DATABASE_URL: sqlite:////tmp/links-johnnoel-uk/var/db/db_test.sqlite3
    steps:
      - attach_workspace:
          at: /tmp
      - run: sudo apt-get update && sudo apt-get install -y php8.0-sqlite3
      - run: mkdir -p /tmp/links-johnnoel-uk/var/db && touch /tmp/links-johnnoel-uk/var/db/db_test.sqlite3
      - run: bin/console doctrine:migrations:migrate --no-interaction --allow-no-migration
      - run: bin/phpunit --stop-on-failure --log-junit junitreport.xml
      - store_test_results:
          path: /tmp/links-johnnoel-uk/junitreport.xml

workflows:
  version: 2
  install-and-test:
    jobs:
      - install
      - coding-standards:
          requires:
            - install
      - static-analysis:
          requires:
            - install
      - test:
          requires:
            - install
